.App{
  background-color: #242323;
}

.navbar {
  background-color: #141414;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
  color: aliceblue;
}

.header h1 {
  font-size: 100px;
  margin-bottom: 10px;
}
.header h5{
  padding: 20px;
}
.searchContainer {
  width: 500px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid wheat;
  border-radius: 10px;
}

.MovieContainer{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 20px;
  margin-bottom: 50px;
}

.MovieWrapper{
  border: 1px solid antiquewhite;
  margin-bottom: 40px;
  width: auto;
  height: auto;
  background-color: bisque;
  text-align: center;
}
.titleMovie{
  max-width: 100%; /* Atur lebar maksimum agar tidak melebihi lebar wrapper */
  overflow: hidden; /* Pastikan teks yang berlebihan tidak muncul */
  white-space: nowrap; /* Hindari pemisahan kata */
  text-overflow: ellipsis; /* Tambahkan elipsis jika teks terlalu panjang */
}
.imageMovie{
  width: 350px; /* Mengatur lebar gambar */
  height: auto; /* Tinggi disesuaikan untuk menjaga proporsi gambar */
}
.tglMovie{
  font-style: italic;
}
.rateMovie{
  margin-bottom: 5px;
}
.footer{
  text-align: center;
  margin: 15px;
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 60px;
  }
  .header h5{
    font-size: 12px;
    padding: 0px;
  }
  .searchContainer {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid wheat;
    border-radius: 10px;
  }
  .MovieWrapper{
    margin-bottom: 20px;
  }
  .imageMovie{
    width: 150px; /* Mengatur lebar gambar */
    height: auto; /* Tinggi disesuaikan untuk menjaga proporsi gambar */
  }
  .titleMovie{
    font-size: 10px;
  }
}