
@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 60px;
  }
  .header h5{
    font-size: 12px;
    padding: 0px;
  }
  .searchContainer {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid wheat;
    border-radius: 10px;
  }
  .MovieWrapper{
    margin-bottom: 20px;
  }
  .imageMovie{
    width: 150px; /* Mengatur lebar gambar */
    height: auto; /* Tinggi disesuaikan untuk menjaga proporsi gambar */
  }
  .titleMovie{
    font-size: 10px;
  }
}